In [ ]:
# my first Python program # hash commenting --
print("Hello world, welcome to my first Python program") # print function

Hello world, welcome to my first Python program

# Basic Arithmetic Operations in Python
- addition
- subtraction
- multiplication
- division

Others:
- parentheses
- modulo
- exponentiation

In [ ]:
# Addition
4 + 5

9

In [ ]:
print(4 + 5)

9

In [ ]:
23.5 + 112.6

136.1

In [ ]:
print(23.5 + 112.6)

136.1

In [ ]:
# Subtraction
25 - 15

10

In [ ]:
print(25 - 15)

10

In [ ]:
print(45.5 - 12.5)

33.0

In [ ]:
# multiplication: *
print(2 * 3)

6

In [ ]:
print(10.5 * 2.5)

26.25

In [ ]:
# division: /
print(100 / 25)

4.0

In [ ]:
print(2.25 / 0.1)

22.5

In [ ]:
# parentheses
print(2 * (3 + 4))

14

In [ ]:
# exponentiation: **
print(3 ** 4)

81

In [ ]:
# modulo: In python, the modulo operator is %, it returns the remainder when a number is divided.
print(5 % 2)

1

In [ ]:
# think of number when
print(13 % 5)

3

# Data Types
- variables can store data of different types.

**Integers**: they are whole numbers. e.g; 1, 2, 20, 30, ...

**Float**: they are decimal numbers. e.g; 2.5, 0.0002, 200.75, ...

**String**: it is usually an alphabet, alphanumeric or text. They are known to be a string if they appear in quotation mark(', "). e.g; "Daniel", "Welcome to my house", "Tolu is working hard", etc.

**Boolean**: True or False statement.

**List**: We use the [] to arrange text/string, objects or numbers(float, integer). e.g; [1, 2, 3, 4, 5], ['tolu', 'daniel', 'wale'], [True, 'cup'], etc.

**Tuple**: We use the () to arrange or list items, objects, etc. e.g; ('mango', 'banana', 'cherry'), (1.5, 2, 4.5, 6), ...

**Dictionary**: We use {} to hold what we called key value pair. ==> {key : value} e.g; {'A':[1, 4], 'B':[5, 6]}, ..

**Date or Datetime**

# Functions and Methods In Python

## Function:
### - A function is a piece of reusable code that performs a specific task. For example, the type() function returns the data type of an object or variable(which are in form of alphabet or text that store different data types which can be reuse in the future). Functions usually take input which is also called **arguments**. Other examples are; round(), max(), min(), sum(), sorted(), duplicated(), etc.

## Method:
## - A method is a function that works on a specific type of objects. Each Python object has a specific method depending on the object type. Methods are called using dot notation: object.method(). For example; the .append() function add an item or variable to the end of a list. Other examples are: .capitalize(), .upper(), .lower(), .index(), etc.

In [ ]:
# type(): the type() function helps us to identify variables data types

type(2)

int

In [ ]:
type(100.26)

float

In [ ]:
x = 40.5

type(x)

float

In [ ]:
# Integer: int
# int() : it is convert a non-integer data type to int.

int(x)

40

In [ ]:
y = 12.266

int(y)

12

In [ ]:
type(12)

int

In [ ]:
int(40)

40

In [ ]:
# float - float
# float() - it returns a float number when the input is either integer or float.

z = 60.25
float(z)

60.25

In [ ]:
z1 = 70
float(z1)

70.0

In [ ]:
type(70.0)

float

# Variable Assignment
- To define a variable, we use = sign.

In [ ]:
money_in = 100
print(money_in)

100

In [ ]:
type(money_in)

int

In [ ]:
money_out = 75.45
print(money_out)

75.45

In [ ]:
type(money_out)

float

In [ ]:
profit = money_in - money_out
print(profit)

24.549999999999997

# For practice!!
- Simple Interest
A person borrows $5,000 from a bank at an annual interest rate of 6%. If the interest is to be paid at the end of 3 years, find the total amount the person has to pay back to the bank.

I = PRT

where P is Principal amount borrowed, R is rate, and T is time.

In [ ]:
P = 5000
R = 6 / 100
T = 3

I = P * R * T

A = P + I

print(A)

5900.0

In [ ]:
# String : str
# str() : it returns a string object when text or object is inputed as strings

s1 = "James is a nice guy"
print(s1)

James is a nice guy

In [ ]:
type(s1)

str

In [ ]:
s2 = "and he is a very hardworking person"

str(s1 + " " + s2) # + is for concatenation

'James is a nice guy and he is a very hardworking person'

In [ ]:
# Boolean - bool
# bool()

x = False
print(x)

False

In [ ]:
y = True
print(y)

True

In [ ]:
type(y)

bool

In [ ]:
bol1 = 5
bol2 = 10
print(bol1 > bol2)

False

In [ ]:
a = True
b = False
print(a and b)

False

The `and` operator returns True if both operands are True, otherwise, it returns False.

In [ ]:
temperature = 25
is_hot = temperature > 30
is_cold = temperature < 10
print(is_hot or is_cold)

False

The `or` operator returns True if at least one of the operands is True. If both operands are False, it will return the expression as False.

# **List: it is a collection of values or elements that can have any data type. A list is denoted with a square bracket []. and it can be modified but not duplicated**

In [ ]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
type(num)

list

In [ ]:
my_list = [1, 'hello', 5.6, 'cool', 4]
print(my_list)

[1, 'hello', 5.6, 'cool', 4]

In [ ]:
type(my_list)

list

## String Methods

In [ ]:
# .append(): it is an inbuilt method that can add an item or value to the end of a list.

fruits = ['Mango', 'Banana', 'Cherry', 'Apple']
print(fruits)

['Mango', 'Banana', 'Cherry', 'Apple']

In [ ]:
type(fruits)

list

In [ ]:
# To add 'Pear' to fruits list
fruits.append('Pear')
print(fruits)

['Mango', 'Banana', 'Cherry', 'Apple', 'Pear']

In [ ]:
# Add 'Strawberry' to the fruits list
fruits.append('Strawberry')
print(fruits)

['Mango', 'Banana', 'Cherry', 'Apple', 'Pear', 'Strawberry']

In [ ]:
# List of lists
# you can append a list to a list
cars = ['Ford', 'Honda', 'Jeep', 'Innoson']
colors = ['Blue', 'Green', 'Black', 'White']

cars.append(colors)
print(cars)

['Ford', 'Honda', 'Jeep', 'Innoson', ['Blue', 'Green', 'Black', 'White']]

In [ ]:
a = ['Portugal', 'Europe']
b = ['Brazil', 'South America']
c = ['Libya', 'Africa']
countries_continent = [a, b, c]
print(countries_continent)

[['Portugal', 'Europe'], ['Brazil', 'South America'], ['Libya', 'Africa']]

In [ ]:
type(countries_continent)

list

## Tuple: can not be modified unlike a list

Looking at the example below:

In [ ]:
fruits = ('Mango', 'Banana', 'Cherry', 'Apple')
print(fruits)

('Mango', 'Banana', 'Cherry', 'Apple')

In [ ]:
type(fruits)

tuple

In [ ]:
# Let's try to add 'Orange' to fruits
fruits.append('Orange')
print(fruits)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Joining Lists: we can use the + sign to join two list together

list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven']

list_joined = list1 + list2
print(list_joined)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
# .split(): it is an inbuilt method that split a string into a list
my_split = 'Daniel is an exciting person to play with'

my_split.split()

['Daniel', 'is', 'an', 'exciting', 'person', 'to', 'play', 'with']

In [ ]:
# Splitting a string using whitspace
text = "Hello World Python"
text.split()

['Hello', 'World', 'Python']

In [ ]:
# Splitting a string using a custom separator
text1 = "apple,banana,cherry"
fruits = text1.split(',')
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Splitting a string using multiple separators
text2 = "apple;banana,cherry:kiwi"
text2.split(r'[;,:]')

['apple;banana,cherry:kiwi']

# ADD, REMOVE, AND CHANGE IN A LIST

In [ ]:
print(list_joined)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
# .insert(): it takes in two argument, the first is the index position where you want to add the item or value and the item or value you want to add.


# add item "number" at the index position 1
list_joined.insert(1, 'number')
print(list_joined)

['one', 'number', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
# Add item "eight" at the index position 8
list_joined.insert(8, 'eight')
print(list_joined)

['one', 'number', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
# .pop(): it is used to remove an item at specified index position from a list

list_joined.pop(1)
print(list_joined)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list_joined.pop(7)
print(list_joined)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

## Reverse and Sort list

In [ ]:
# .reverse(): it is used to modify a list such that the first item becomes the last in that order.

print(list1)

['one', 'two', 'three', 'four']

In [ ]:
list1.reverse()
print(list1)

['four', 'three', 'two', 'one']

In [ ]:
sort_list = [2, 8, 7, 9, 13, 1]

print(sort_list)

[2, 8, 7, 9, 13, 1]

In [ ]:
sort_list.reverse()
print(sort_list)

[1, 13, 9, 7, 8, 2]

In [ ]:
# sorted(): it is used to sorts the elements or values of a list in ascending order.

sorted(sort_list)

[1, 2, 7, 8, 9, 13]

In [ ]:
# help(): we use help() to know the documentation of a function

help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sorted(sort_list, reverse=False)

[1, 2, 7, 8, 9, 13]

In [ ]:
sorted(sort_list, reverse=True)

[13, 9, 8, 7, 2, 1]

In [ ]:
# .remove(): it is used to remove an item from a list by specifying the particular item.
list_joined

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
list_joined.remove('one')

ValueError: list.remove(x): x not in list

In [ ]:
print(list_joined)

['two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
# .replace(): it replaces every occurrences of substring with another.
# the format used is .replace(old, new)

x = 'price' #assume we want to replace 'c' with 'z'
x.replace('c', 'z')

'prize'

In [ ]:
b = 'groundnut'
b.replace('nut', '')

'ground'

In [ ]:
# .count() : it returns the number of times an object or items occurs in a list or tuple.

y_list = ("apple", "orange", "cherry", "orange", "banana")
y_list.count("orange")

2

In [ ]:
y_list.count("banana")

1

# .upper(), .lower(), and .capitalize()

In [ ]:
# .upper() : it returns the characters of the string in upper case

var = 'welcome to python for data analysis'
var.upper()

'WELCOME TO PYTHON FOR DATA ANALYSIS'

In [ ]:
# .lower(): it returns the characters of the string in lower case

var1 = 'TODAY IS FRIDAY'
var1.lower()

'today is friday'

In [ ]:
# .capitalize(): it returns the first character of an expression in capital letter

var.capitalize()

'Welcome to python for data analysis'

In [ ]:
var.split()

['welcome', 'to', 'python', 'for', 'data', 'analysis']

In [ ]:
result = ''
for word in var.split():
  result += word[0].upper() + word[1:]
  result += ' '
print(result.strip())

Welcome To Python For Data Analysis

- Docstrings: it is another way of writing a short and simple narrative within a cell. Usually, we use it in giving expression or definition to a derived function. We call it by pressing the quotation mark three times (''') which is where you write your expressions or definitions.

# Index

In [ ]:
'''Index: if an object occur multiple times, .index() will return the index of the first occurrence'''

# .index() : it returns the index location of a specified value in a list or tuple.

index_list = [5, 6, 2, 3, 8, 3, 7]

index_list.index(3)

3

In [ ]:
y_list

('apple', 'orange', 'cherry', 'orange', 'banana')

In [ ]:
y_list.index('orange')

1

In [ ]:
print(b)

groundnut

In [ ]:
b.index('u')

3

- round() - it is an inbuilt function that takes in two arguments; the number to be rounded and its precision.

In [ ]:
num_round = 15.3674 # round to 3 decimal places
round(num_round, 3)

15.367

In [ ]:
round(num_round, 2)

15.37

In [ ]:
round(num_round, 1)

15.4

In [ ]:
round(num_round)

15

# Indexing and Slicing
we use square bracket[] attached to an object or variable when dealing with indexing and slicing. e.g; a[], num[], etc.

In [ ]:
r = 'football'
r[3]

't'

In [ ]:
r[5]

'a'

# we use slicing to slice out a specific element, words or values in an iterable. [start : end] ==> you start the index position from the specified value or element and use the end point to slice the iterable.

 - [start : end : step] ===> Usually, the default step is 1. When the step is not specified, it means that the default is 1

In [ ]:
# slice out 'foot' from 'football'

r[0:4]

'foot'

In [ ]:
# for best practices, we use this:
r[:4]

'foot'

In [ ]:
# get the last three character of 'football', store it in  a varaible and convert it to upper case.
name = 'football'

three_last = name[-3:]
print(three_last)

all

In [ ]:
three_last.upper()

'ALL'

In [ ]:
r[1:7:2]

'ota'

- Dictionary: it is used to store data valud in key ordered pair. The short word for dictionary is `dict`. It can be written in curly bracket {}, and it has key(s) and value(s). It can be changed, ordered but not duplicated.

In [ ]:
x_dict = {'car brand': 'Ford', 'car model': 'Mustang', 'year': 2020}
print(x_dict)

{'car brand': 'Ford', 'car model': 'Mustang', 'year': 2020}

In [ ]:
type(x_dict)

dict

In [ ]:
x_dict['car brand']

'Ford'

In [ ]:
y_dict = {'car brand': ['Ford', 'Toyota', 'Honda', 'Lexus'], 'car model': ['Mustang', 'Camry', 'Accord', 'Ex350'], 'year': [2020, 2021, 2019, 2022]}
print(y_dict)

{'car brand': ['Ford', 'Toyota', 'Honda', 'Lexus'], 'car model': ['Mustang', 'Camry', 'Accord', 'Ex350'], 'year': [2020, 2021, 2019, 2022]}

In [ ]:
type(y_dict)

dict

In [ ]:
y_dict['car brand']

['Ford', 'Toyota', 'Honda', 'Lexus']

In [ ]:
y_dict['car brand'][2] # index of index

'Honda'

In [ ]:
y_dict['car brand'][:2] # index of indexing and slicing

['Ford', 'Toyota']

-  Tuple: it is a collection objects that are ordered and unchangeable, and it allows duplicate. It is written in round bracket ().

In [ ]:
x_tuple = ('apple', 'banana', 'cherry', 'orange')
print(x_tuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
type(x_tuple)

tuple

In [ ]:
# Indexing and slicing in tuple
x_tuple[:2]

('apple', 'banana')

In [ ]:
x_tuple[1:3]

('banana', 'cherry')

In [ ]:
# len() : it is an inbuilt function that returns the number of character in an iterable.

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
len(x_tuple)

4

In [ ]:
print(b)

groundnut

In [ ]:
len(b)

9

In [ ]:
print(x_dict)

{'car brand': 'Ford', 'car model': 'Mustang', 'year': 2020}

In [ ]:
len(x_dict)

3

In [ ]:
# Tuple can also be a mixture of string, float, integer or boolean

y_tuple = ('James', 34, True, 45.9, 'Male')
print(y_tuple)

('James', 34, True, 45.9, 'Male')

In [ ]:
type(y_tuple)

tuple

# Print Formatting
- f-string
- print format method using placeholders (`%s` and `{}`)

In [ ]:
word = 'Fosey is busy cooking rice'
print(word)

Fosey is busy cooking rice

- f-string is also called formatted string literals. It is a convenient way to embed expression inside string literal. To use f-string, we will prefix the string with the letter 'f' and enclose the expression with {}.

In [ ]:
name = 'Fosey'
age = 12
height = 1.65

print(f'My name is {name}, I am {age} years old, and my height is {height} meters.')

My name is Fosey, I am 12 years old, and my height is 1.65 meters.

In [ ]:
num1 = 35
num2 = 20
print(f'The sum of num1 and num2 is {num1 + num2}')

The sum of num1 and num2 is 55

In [1]:
pi = 3.14159
print(f'The value of pi is approximately {pi:.2f}')

The value of pi is approximately 3.14

In [3]:
person = {'name': 'Dan', 'age': 45}
print(f"{person['name']} is {person['age']} years old")

Dan is 45 years old

In [5]:
# %s is also a way of formatting a string

name = 'Fosey'
age = 12
height = 1.65

print(f'My name is %s, I am %s years old, and my height is %s meters.'%(name,age,height))

My name is Fosey, I am 12 years old, and my height is 1.65 meters.

In [6]:
num1 = 35
num2 = 20
print(f'The sum of num1 and num2 is %s + %s'%(num1, num2))

The sum of num1 and num2 is 35 + 20

# Loops
- It is used to iterate over a sequence such as tuple, dictionary, string, etc or to repeat a block of code for each item in the sequence.

# Types of Loops
- For Loop
- While Loop

**For Loop**: it is used to iterate over a sequence and execute the block of code for each item in the sequence.

In [7]:
fruits = ['apple', 'banana', 'orange', 'cherry']

for x in fruits:
  print(x)

apple
banana
orange
cherry

In [11]:
# return the number of characters of strings in an iterable

for x in fruits:
  print(f'The word {x} has {len(x)} characters')

The word apple has 5 characters
The word banana has 6 characters
The word orange has 6 characters
The word cherry has 6 characters

In [8]:
# we can do for loop over a string


for i in 'Daniel':
  print(i)

D
a
n
i
e
l

In [9]:
# iterating over a range of numbers

for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
# fetch even numbers from range(1, 10)

for y in range(1, 10):
  if y % 2 == 0:
    print(y)

2
4
6
8

In [15]:
# fetch odd numbers from range(1, 10) # != ====> not equals to

for y in range(1, 10):
  if y % 2 != 0:
    print(y)

1
3
5
7
9

In [18]:
word = 'Hello, I hope you are doing great'
count = 0

for char in word:
  if char == 'o':
    count +=1
print(f"The letter 'o' appears {count} times in the word {'word'}.")

The letter 'o' appears 4 times in the word word.

**While Loop**: it is used to repeat a block of code as long as a certain condition is met or true.

In [20]:
i = 0

while i < 10:
  print(i)
  i +=2

0
2
4
6
8

In [24]:
# counting down a number
count = 5

while count > 0:
  print(count)
  count -=1

5
4
3
2
1

In [25]:
# iterating over a list until a condition is met

numbers = [5, 10, 15, 20, 25, 30]
i = 0

while i < len(numbers) and numbers[i] < 20:
  print(numbers[i])
  i +=1

5
10
15

# Break, Continue, and Pass Statement
- Break statement: it can stop a loop before it has looped.

In [26]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

- In while loop, the break statement can be used to exit the loop when a certain condition is met.

In [28]:
i = 0

while i < 10:
  if i == 6:
    break
  print(i)
  i +=1

0
2
4

In [29]:
# another way to return odd number using while loop

num = 1

while num < 10:
  if num % 2 == 1:
    print(num)
  num +=1

1
3
5
7
9

**Continue Statement**: with the continue statement, we can skip the current iteration of a loop and move on to the next iteration.

In [30]:
# For loop, we can skip certain iteration based on condition

for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [31]:
# print only lowercase letters from a string

word = "Hello123"

for char in word:
  if not char.islower():
    continue
  print(char)

e
l
l
o

In [34]:

word = "Hello123"

for char in word:
  if char.isupper():
    continue
  print(char)

e
l
l
o
1
2
3

In [1]:
# For while loop, the continue statement can be used to skip certain iterations based on a condition

# skip multiples of 3 in a while loop

num = 0

while num < 20:
  num +=1
  if num % 3 == 0:
    continue
  print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [3]:
# Print vowels in a string using a while loop

v = 'it is good to be good'
index = 0

while index < len(v):
    if v[index] not in 'aeiou':
        index +=1
        continue
    print(v[index])
    index +=1

i
i
o
o
o
e
o
o

- **Input Function**: it is an inbuilt function in Python that allows the user to enter input values from the keyboard.

In [4]:
name = input("what is your name?: ")
print("Hello, " + name + "!")

what is your name?: Daniel
Hello, Daniel!

In [7]:
last_name = str(input("Please enter your last name: "))
first_name = str(input("Please enter your first name: "))
age = int(input("How old are you?: "))
account_balance = float(input("What is your current account balance?: "))
amount_purchased = float(input("What is the amount of items purchased?: "))
tax_rate = float(input("What is the tax rate in your country?: "))
tax_amount = float(input("How much is your tax amount?: "))

print(".......................................................................")
print("Thank you for your time")

Please enter your last name: Ayomide
Please enter your first name: Ayo
How old are you?: 45
What is your current account balance?: 67000
What is the amount of items purchased?: 3400
What is the tax rate in your country?: 0.08
How much is your tax amount?: 5600
.......................................................................
Thank you for your time

In [9]:
name = input("What is your name?: ")
initial_name = name

while name == "Segun":
    print("Welcome to the class")
    name = input("Are you ready for class?: ")
    print(f"Thank you {initial_name}, and have a blessed day")

What is your name?: Segun
Welcome to the class
Are you ready for class?: Yes
Thank you Segun, and have a blessed day

In [14]:
while True:
    user_input = int(input("Enter a number: "))
    if user_input < 0:
        break
print(f"You have entered a negative number: {user_input}")

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 1
Enter a number: -2
You have entered a negative number: -2

## User-defined Functions
- it is the function that we define ourselves to perform a specific task. The format for defining a function is below:

def function_name(parameter):

    ""you write what the function is doing""
    
    statement(s)
    
    return [expression]

In [22]:
fruits = ('apple', 'banana', 'cherry', 'strawberry')

def myfunc(x):
    '''it is to return the number of characters in my sequence or iterable'''
    
    return len(x)

In [26]:
myfunc("orange")

6

In [27]:
f_map = map(myfunc, fruits) # it take in two arguments; dependent variable, and the iterable
print(list(f_map))

[5, 6, 6, 10]

In [28]:
my_list = [1, 2, 5, 6, 8, 10, 12]

def sequence(x):
    '''it is to return the sequence of numbers based on a pattern'''
    num = 2*x + 3
    return num

se_map = map(sequence, my_list)
print(list(se_map))

[5, 7, 13, 15, 19, 23, 27]

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(n):
    '''it is to return even numbers'''
    return n % 2 == 0

even_num = filter(is_even, numbers) # it take in two arguments; dependent variable, and the iterable
print(list(even_num))

[2, 4, 6, 8, 10]

In [34]:
words = ['apple', 'miracle', 'collection', 'information', 'shut', 'glass', 'cat']

def is_len(y):
    '''it is to return the number of character greater than 5 in our iterable'''
    return len(y) >= 5

len_filter = filter(is_len, words)
print(list(len_filter))

['apple', 'miracle', 'collection', 'information', 'glass']

In [35]:
words = ['apple', 'miracle', 'collection', 'information', 'shut', 'glass', 'cat']

def is_len(y):
    '''it is to return the number of character greater than 5 in our iterable'''
    return len(y) <= 5 or len(y) <=7

len_filter = filter(is_len, words)
print(list(len_filter))

['apple', 'miracle', 'shut', 'glass', 'cat']

In [36]:
words = ['apple', 'miracle', 'collection', 'information', 'shut', 'glass', 'cat']

def is_len(y):
    '''it is to return the number of character greater than 5 in our iterable'''
    return len(y) >= 5 and len(y) <=7

len_filter = filter(is_len, words)
print(list(len_filter))

['apple', 'miracle', 'glass']

In [37]:
# Building a grading system using conditional statement
score = [35, 72, 45, 20, 63, 60, 89, 99]

def grade(x):
    '''it will return student grade based on their score'''
    if x >=70:
        result = 'grade A'
    elif x >=60:
        result = 'grade B'
    elif x >=50:
        result = 'grade C'
    elif x >=40:
        result = 'grade D'
    else:
        result = 'failed'
        
    return result

grade_system = map(grade, score)
print(list(grade_system))

['failed', 'grade A', 'grade D', 'failed', 'grade B', 'grade B', 'grade A', 'grade A']

# Lambda Expression
- it is a small unknown function that can take any number of arguments but return only one expression as output.

In [38]:
double = lambda x: x*2
double(2)

4

In [41]:
triple = lambda x,y,z: 2*x + 3*y - z
triple(1, 2, -1)

9

In [42]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [45]:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78), ("David", 90)]

# sort the list using lambda expression
sorted_students = sorted(students, key = lambda x: x[1], reverse = False) # key is a parameter that extract the value to be used for sorting
print(sorted_students)

[('Charlie', 78), ('Alice', 85), ('David', 90), ('Bob', 92)]

In [47]:
numbers = [-2, -1, 0, 1, 2]
'''to filter out positive numbers from our iterable'''
positive_num = filter(lambda x: x>0, numbers)
print(list(positive_num))

[1, 2]

In [48]:
celsius = [0, 15, 25, 35, 50, 65]

# convert the degree celsius to fahrenheit
fahrenheit = map(lambda x: (9/5)*x + 32, celsius)
print(list(fahrenheit))

[32.0, 59.0, 77.0, 95.0, 122.0, 149.0]